.index-container {
  background-image: url("../image/main_clock.png");
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-color: #4d5dfa;
}

.index-container .title-area {
  color: #ffffff;
}
.index-container .title-area .main-title {
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 3px;
}

.index-container .title-area .sub-title {
  font-weight: 600;
  font-size: 28px;
  opacity: 0.5;
}
.index-container .button-area {
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-container .button-area .loginBtn {
  background: #ffffff;
  color: #2a4cc8;
  font-weight: 700;
  font-size: 16px;
}

.index-container .button-area .signupBtn {
  background: #b9ccff;
  color: #2a4cc8;
  font-weight: 700;
  font-size: 16px;
}
