.index-container {
  background: #4d5dfa;
}
.index-container > .main-title {
  position: absolute;
  left: 40px;
  top: 150px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 20px;
  /* identical to box height, or 33% */

  display: flex;
  align-items: center;
  letter-spacing: 3px;

  color: #ffffff;
}

.index-container > .sub-title {
  position: absolute;
  left: 40px;
  top: 210px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  /* or 36% */

  display: flex;
  align-items: center;

  color: #ffffff;

  opacity: 0.5;
}
.index-container .button-area {
  position: relative;
  padding: 10px 0px;
  top: 600px;
}

.index-container .button-area .loginBtn {
  background: #ffffff;
  color: #2a4cc8;
  font-weight: 700;
  font-size: 16px;
}

.index-container .button-area .signupBtn {
  background: #b9ccff;
  color: #2a4cc8;
  font-weight: 700;
  font-size: 16px;
}
